[Unit]
Description=Chinachu Docker Compose

[Service]
Type=simple
Restart=always
WorkingDirectory=/mnt/haruhi/apps/tv/mirakurun-chinachu-compose
ExecStart=/usr/bin/docker compose up chinachu
ExecStopPost=/usr/bin/docker compose rm -s -f chinachu

[Install]
WantedBy=multi-user.target

